[Desktop Entry]
Version=1.0
Name=GXDE Kernel Manager
Name[zh_CN]=GXDE 内核管理器
Comment=GXDE Kernel Manager
Comment[zh_CN]=GXDE 内核管理器
Type=Application
Exec=gxde-kernel-manager
Icon=gxde-kernel-manager
Categories=System
