[Desktop Entry]
Version=1.0
Name=kernel manager
Name[zh_CN]=Kernel Manager
Comment=Kernel Manager
Type=Application
Exec=/usr/bin/gxde-kernel-manager
Icon=deepin-launcher
Categories=System
