Source: gxde-kernel-manager
Section: utils
Priority: optional
Maintainer: gfdgd_xi <3025613752@qq.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 10),
 qt6-base-dev,
 qt6-base-dev-tools,
 qt6-base-private-dev,
 libqtermwidget-dev,
 qt6-tools-dev-tools,
 qt6-5compat-dev
Standards-Version: 4.6.2
Homepage: https://gitee.com/GXDE-OS/gxde-kernel-manager
Vcs-Git: https://gitee.com/GXDE-OS/gxde-kernel-manager.git

Package: gxde-kernel-manager
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 apt
Description: GXDE 内核管理器是一个帮助用户更方便获取、安装、移除内核的工具。
 GXDE Kernel Manager is a kernel manager allows users to install or remove kernels easily.

